@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lekton', sans-serif;
  color: #3C403D;
  background-color: #DADED4;
}


.App {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  margin-bottom: 25px;
  width: 100%;
  padding: 10px;
  background-color: #A3BCB6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dropdowns {
  background-color: #A3BCB6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.HeadText {
  background-color: #A3BCB6;
  font-size: 4.5em;
  letter-spacing: -1px;
  padding: 5px;
}

img {
  height: 140px;
  width: 160px;
  border-radius: 120px;
  margin-bottom: 15px;
}

.Select {
  margin: 10px;
  padding: 10px;
}

.Gallery {
  width:80%;
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

.CreatureEl {
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5c963bd;
  border-radius: 100%;
}
.CreatureEl >p {
  background-color: rgba(255, 255, 255, 0.815);
  padding: 12px;
  border-radius: 35%;
}